crewai==1.14.3
crewai-tools==1.14.3
litellm
openai
langsmith[otel]
streamlit
pypdf
pandas
python-dotenv
pydantic
supabase
reportlab
opentelemetry-instrumentation-crewai
opentelemetry-instrumentation-openai
opentelemetry-sdk
opentelemetry-api